* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'starWarsFont';
}

body {
height: 100vh;
color: gold;
margin: 0;
}

.bg {
  background-image: url(../images/background/mug-bg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-bg {
  background-image: url(../images/background/stars.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
    font-family: 'starWarsFont';
    src: url(../fonts/starjedi/Starjedi.ttf) format('woff2')
}

.hide {
display: none !important;
}

.unclickable {
pointer-events: none;
}

img {
height: 150px;
width: 150px;
margin: 1%;
border: 1px solid black;
flex: 0 0 18%;
}

.header {
display: flex;
background-color: lightgray;
justify-content: center;
align-items: center;
height: 10%;
border-bottom: 2px solid darkgray;
}

#container {
text-align: center;
height: 80%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

#inner-container {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.covered {
content: url(../../assets/images/game-images/greenbox.png)
}

button {
color: goldenrod;
font-size: 35px;
background-image: url(../images/background/stars.jpeg);
border: 1px solid black;
border-radius: 10%;
padding: 3%;
}

.footer {
display: flex;
background-color: lightgray;
justify-content: center;
align-items: center;
height: 10%;
border-top: 2px solid darkgray;
}
