* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'starWarsFont';
}

body {
height: 100vh;
}

.bg {
  /* The image used */
  background-image: url(../images/background/mug-bg.png);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
    font-family: 'starWarsFont';
    src: url(../fonts/starjedi/Starjedi.ttf) format('woff2')
}

.hide {
display: none !important;
}

.unclickable {
pointer-events: none;
}

img {
height: 150px;
width: 150px;
margin: 1%;
border: 1px solid black;
flex: 0 0 18%;
}

.header {
display: flex;
background-color: lightgray;
justify-content: center;
height: 10%;
border-bottom: 2px solid darkgray;
}

#container {
text-align: center;
height: 80%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

#inner-container {
display: flex;
align-items: center;
flex-wrap: wrap;
}

.covered {
content: url(../../assets/images/game-images/greenbox.png)
}

button {
color: white;
font-size: 35px;
background-color: red;
border: 1px solid black;
border-radius: 10%;
margin: 15% 45%;
}

.footer {
display: flex;
background-color: lightgray;
justify-content: center;
height: 10%;
border-top: 2px solid darkgray;
padding-bottom: 5%;
}
